*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: black;
    min-height: 600px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
    text-align: justify;
    font-style: normal;
    text-align: center;
    font-size: 2.2em;
}

/* images de fond (source : ../images) */
section {
    background-image: url(../images/ordiEP.jpg);
    object-fit: cover;
    background-position: top;
    background-attachment: top;
    background-repeat: no-repeat;
    background-size: 95%;
}

section #background-height {
    position: relative;
    margin-top: 3vh;
    min-height: 70vh;
}

#block-link {
    background-color: rgb(48, 48, 48, 0.8);
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding-left: 7px;
    padding-right: 7px;
}

#link a {
    color: 008080;
    margin: 5px;
    border-radius: 10px;
}

#link a:link, #link a:visited {
    background-color: 008080;
    color: #008080;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#link a:hover, #link a:active {
    text-shadow: 2px 2px 8px teal;
    color: whitesmoke;
    opacity: 95%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 20vh;
    width: 100%;
}

footer a {
    color: #008080;
    text-align: center;
}

/* bordure autour des logos :hover */
footer img:hover {
    border: 0.2em solid #008080;
    border-radius: 50%;
}

footer img {
    width: 6%;
}

#contact {
    font-size: 0.4em;
}

#contact a {
    text-decoration: none;
    color: whitesmoke;
}

#contact a:hover {
    text-shadow: 6px 4px 18px teal;
}

/* adapte le visuel aux format smartphone*/
@media screen and (max-width: 768px) {
    body {
        font-size: 1.5em;
    }

    section {
        background-image: url(../images/mobileEP.jpg);
    }

    section #background-height {
        margin-top: 2vh;
        min-height: 75vh;
    }

    footer {
        min-height: 15vh;
    }

    footer img {
        width: 12%;
        margin-right: 0.2em;
        margin-left: 0.2em;
    }
}

/* et tablet portrait */
@media screen and (min-width: 768px) and (max-width: 1100px) {
    section {
        background-image: url(../images/mobileEP.jpg);
        background-position: 50% -70px;
        max-height: 70%;
    }

    #contact {
        font-size: 0.6em;
    }
}
